<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<button>
    <a href="/celebrities/create">Create a Celeb!</a>
</button>
<button>
    <a href="/celebrities">List of Celebs</a>
</button>
<button>
    <a href="/movies/create">Create a Movie!</a>
</button>
<button>
    <a href="/movies">List of Movies!</a>
</button>